#ficha-container {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px;
    box-sizing: border-box;
}

#card-outline-exercise {
    min-height: 120px;
}

#exercise-card-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

#exercise-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#text-card-image {
    font-size: 14px;
}

#card-exercise-selected {
    top: 20px;
    z-index: 1;
}

#modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

#script-image-card {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

#script-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
